:root {
    --smoky-black: #1c110aff;
    --raw-sienna: #d3793dff;
    --earth-yellow: #d4a465ff;
    --kobe: #813012ff;
    --deep-champagne: #fdd692ff;
    --black-coffee: #2d2227ff;
}

body{
    margin: 0 auto;
    color: var(--smoky-black);
    background-color: var(--earth-yellow);
    font: larger 'Poppins', sans-serif;
}

input {
    border-radius: 5px;
    border: 2px solid var(--raw-sienna);
}

button {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--raw-sienna);
}

.header > #showModal {
    width: 25%;
}

.books-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    border-top: 5px solid var(--smoky-black);
}

.bookCard{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 10%;
    max-width: 185px;
    min-height: 5%;
    max-height: 280px;
    flex: 1 1 auto;
    gap: 12px;
    padding: 10px 15px;
    background-color: var(--black-coffee);
    border: 5px solid var(--black-coffee);
    color: var(--deep-champagne);
    border-radius: 10%;
}

.bookCard:hover{
    border: 5px solid var(--kobe);
}

.modal-open {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.modal-closed {
    display: none;
}

.modal-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    color: var(--deep-champagne);
    background-color: var(--black-coffee);
    border: 1px solid var(--black-coffee);
    border-radius: 10%;
}

#modal {
    position: fixed;
    padding-top: 5%;
    padding-bottom: 40%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.toggleButton
{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 5px auto;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--raw-sienna);
    background-color: var(--smoky-black);
}

.checkbox
{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

#toggle-read .knobs::before
{
    content: 'Not read';
    margin: 0 auto;
    position: absolute;
    left: 5%;
    font-size: 18px;
    border-radius: 5px;
}

#toggle-read .checkbox:checked + .knobs::before
{
    content: 'Read';
    left: 68%;
}