:root {
    --smoky-black: #1c110aff;
    --raw-sienna: #d3793dff;
    --earth-yellow: #d4a465ff;
    --kobe: #813012ff;
    --deep-champagne: #fdd692ff;
    --black-coffee: #2d2227ff;
}

body{
    margin: 0 auto;
    color: var(--smoky-black);
    background-color: var(--earth-yellow);
    font: larger 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--raw-sienna);
}

.books-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    border-top: 5px solid var(--smoky-black);
}

.bookCard{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 10%;
    max-width: 185px;
    min-height: 5%;
    max-height: 280px;
    flex: 1 1 auto;
    gap: 12px;
    padding: 10px 0;
    background-color: var(--black-coffee);
    border: 5px solid var(--black-coffee);
    color: var(--deep-champagne);
    border-radius: 10%;
}

.bookCard:hover{
    border: 5px solid var(--kobe);
}

.modal-open {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.modal-closed {
    display: none;
}

.modal-content {
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 30px;
    color: var(--deep-champagne);
    background-color: var(--black-coffee);
    border: 1px solid var(--black-coffee);
    border-radius: 10%;
}

#modal {
    position: fixed;
    padding-top: 5%;
    padding-bottom: 40%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}